.chat-dialog {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  display: flex;
  flex-direction: column;
}
.message.to {
  align-items: flex-end;
}
.message.from {
  align-items: flex-start;
}
.message.from .message-content {
  color: #fff;
  background-color: #3c4252;
}

.message-content {
  color: rgba(0,0,0,.87);
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 13px 16px;
  width: fit-content;
  margin-top: 13px;
  margin-bottom: 7px;
}

.message-date {
  color: rgba(0,0,0,.54);
  font-size: 12px;

}

.chat-dialog-header {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.chat-dialog-area {
  flex-grow: 1;
  padding: 10px 20px;
  overflow: auto;
}

.chat-dialog-footer {
  background: #f5f5f5;
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 20px 20px;
  display: flex;
}

.input-message {
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,.12);
  outline: transparent;
  font-size: 20px;
}

.send-message {
  border: none;
  background-color: #0bc7c7;
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 20px;
  padding: 16px 30px;
  outline: none;
}
.send-message:hover {
  cursor: pointer;
  background-color: #0a9999;
}