.contacts {
  height: 100%;
}

.contacts-search {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.search-wrapper {
  width: 100%;
}

.search-input {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,.12);
  outline: transparent;
  font-size: 20px;  
}

.contacts-list {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,.12);
  height: calc(100% - 126px);
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.contacts-list li {
  display: flex;
}

.contacts-list-item {
  width: 100%;
  padding: 25px 20px;
  overflow: auto;
  text-decoration: none;
  color: #222;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.contacts-list-item.active {
  background-color: #0bc7c728;
}
.contacts-list-item:hover {
  background-color: #f5f5f5;
}

.chats-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0 20px;
  color: #0bc7c7;
}